{
    "presets": [
        [
            "@babel/preset-react",
            {
                "runtime": "automatic"
            }
        ],
        "@babelpreset-env"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties"
    ]
}